# Flask==3.0.3
# Flask-Cors==4.0.1
# langgraph
# langchain-google-genai
# PyMuPDF
# python-dotenv==1.0.1
# pydantic>=2.9.0

Flask==3.0.3
Flask-Cors==4.0.1
langgraph
langchain-google-genai
PyMuPDF
python-dotenv==1.0.1
pydantic>=2.9.0
weasyprint
pillow
beautifulsoup4
pdfplumber==0.11.4